@import "bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
  font-family: 'Calibre-Semibold';
  src: url(CalibreWeb-Semibold.woff2) format("woff2");
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url(CalibreWeb-Semibold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url(CalibreWeb-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url(CalibreWeb-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url(CalibreWeb-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url(CalibreWeb-RegularItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: italic;
}

[v-cloak] > * { display:none; }
[v-cloak]::before { 
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
}
.bd-content header h1, .bd-content header h2 {
  font-weight: bold;
  font-style: normal;
  color: #103dcf;
  font-size: 24px;
  padding-left: 15px;
}
.table td, .table td * {
  word-break: break-all;
  word-wrap: anywhere;
  white-space: normal;
  font-size: 16px;
  min-width: 70px;
}
.table th, .table td {
  padding: 0.6rem;
}
a.badge {
  margin: 2px;
  font-weight: 100;
  text-align: left;
}
body {
  font-size: 16px;
  font-family: 'Calibre', 'Montserrat', sans-serif;
}

.tooltip-a {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip-a .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 30%;
}

.tooltip-a .tooltip-a-center {
  top: 100%;
  left: 0;
}

.tooltip-a:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.footer-links {
  padding: 20px;
  >a {
    padding: 3px;
  }
}

tr {
  background-color: #eeeff4;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f5fafa;
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: white;
}
.badge-success {
  color: #fff;
  background-color: #2bb8a7;
}
.badge-warning {
  color: #fff;
  background-color: #f3b600;
}
.col-form-label {
  font-weight: 600;
}
a.badge-warning:focus, a.badge-warning:hover {
  color: #fff;
}